*{
  margin:0;
  padding: 0;
}

.punto-1 {
  width: 800px;
  overflow: auto;
  border: 1px solid gray;
}
.punto-1 div{
  width: 200px;
  height: 150px;
  float: left;
}

.punto-1 div:first-child{
  background: yellow;
}

.punto-1 div:nth-child(2){
  background: blue;
}

.punto-1 div:nth-child(3){
  background: red;
}
